//  Header
$headerPrimaryColor: #000;
$headerSecondaryColor: red;

$NavbarBackgroundColor: #33B8FF;

$navbarBackgroundHover: #B036C5;

// BackgroundColor
$backgroundPrimaryColor: #f1f1f1;
$backgroundSecondaryColor: #33B8FF;
$backgroundThirdColor: #528CAB;


// Text
$textPrimaryColor: #fff;
$textSecondaryColor: #3693C5;